@import '../../../utilities/variables.scss';

.login{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(./img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.center{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  background: $backgroundColor;
  border-radius: 2px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid $accentColor;
  color: $accentColor;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid $accentColor;
  margin: 30px 0;
}
.txt_field input{
  color: $accentColor;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: $reserveColor;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: $mainColor;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: $contrastColor;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: $mainColor;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-color: $secondaryColor;
  transition: $transitionSpeed;
}
input[type="submit"]:hover{
  border-color: $accentColor;
  background: $accentColor;
  color: $secondaryColor;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: $mainColor;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.date{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.date label{
  color: $reserveColor;
  pointer-events: none;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: 0;
}

.date input[type="date"]{
  margin: 0;
  border: none;
  background-color: $mainColor;
  padding: 0.8rem;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

::-webkit-calendar-picker-indicator{
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}

.submit{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: $mainColor;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  border-color: $secondaryColor;
  transition: $transitionSpeed;
}

.submit:hover{
  border-color: $accentColor;
  background: $accentColor;
  color: $secondaryColor;
}
