<section class="landing">
  <div class="intro">
    <div class="info-grid">
      <div class="card-tall image-card img-gloves">
        <div class="content-text">
          Taking Care Of You
        </div>
      </div>
      <div class="content-box">
        <div class="content-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
          Nullam vel tempus velit. Nam a eleifend nibh.
          Ut vehicula sodales lorem, euismod mattis lectus maximus et.
        </div>
      </div>
      <div class="card-tall card-wide image-card img-doctor">
        <div class="content-text">
          Your health is our priority
        </div>
      </div>
      <div class="content-box">
        <div class="content-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
          Nullam vel tempus velit. Nam a eleifend nibh.
          Ut vehicula sodales lorem, euismod mattis lectus maximus et.
        </div>
      </div>




    </div>
  </div>


  <div class="about">
    <div class="title">About Us</div>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris lectus massa, congue et est eget, aliquam mattis erat.
      Etiam a accumsan lacus, non sagittis arcu. Morbi rhoncus ex est, in cursus neque tempus non. In ac quam felis.
      Curabitur mauris risus, iaculis pellentesque egestas vitae, tempus ut eros.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </div>
  </div>

  <hr class="division-line">

  <div class="contact">
    <div class="title">Contact Us</div>
    <div class="info-grid">
      <div class="content-box"></div>
      <div class="content-box"></div>
      <div class="card-wide content-box"></div>
    </div>
  </div>
</section>
