@import '../../utilities/variables';

.navbar{
  background-color: $backgroundColor;
  position: fixed;
  width: 5rem;
  height: 100vh;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 100%;
  text-align: center;
}

.nav-item:last-child {
  margin-top: auto;
}

.navbar:hover {
  width: 16rem;
}

.logo-text{
  color: $contrastColor;
}


.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: $accentColor;
  text-decoration: none;
  transition: $transitionSpeed;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: $accentColor;
  color: $secondaryColor;
}

// .nav-link:hover i{
//   color: $contrastColor;
// }

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.icon-wrapper{
  width: 5rem;
}

.nav-link i {
  width: 100%;
  font-size: 2.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}


@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

/* Large screens */
@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }


  .navbar:hover .link-text {
    display: flex;
    font-weight: bold;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}
