<nav class="navbar">
  <ul class="navbar-nav">

    <li class="logo">
      <a [routerLink]="['']" doctors [ngClass]="{'selected':selectedLink=='/'}" class="nav-link logo-link">
        <span class="link-text logo-text">DocPoint</span>
        <div class="icon-wrapper">
          <i class="fas fa-book-medical"></i>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['doctors']" [ngClass]="{'selected':selectedLink=='/doctors'}" class="nav-link">
        <div class="icon-wrapper">
          <i class="fas fa-user-md"></i>
        </div>
        <span class="link-text">Doctors</span>
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['store']" [ngClass]="{'selected':selectedLink=='/store'}" class="nav-link">
        <div class="icon-wrapper">
          <i class="fas fa-medkit"></i>
        </div>
        <span class="link-text">Store</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="logStatus == 1">
      <a [routerLink]="['appointment']" [ngClass]="{'selected':selectedLink=='/appointment'}" class="nav-link">
        <div class="icon-wrapper">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <span class="link-text" style="font-size: 0.95rem;">Make Appointment</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="logStatus == 2">
      <a [routerLink]="['admin']" [ngClass]="{'selected':selectedLink == '/admin'}" class="nav-link">
        <div class="icon-wrapper">
          <i class="fas fa-file-medical-alt"></i>
        </div>
        <span class="link-text">Admin Page</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="logStatus == 0">
      <a [routerLink]="['login']" [ngClass]="{'selected':selectedLink=='/login'}" class="nav-link">
        <div class="icon-wrapper">
          <i class="fas fa-user-circle"></i>
        </div>
        <span class="link-text">Log In</span>
      </a>
    </li>
  </ul>
</nav>

