<div class="overlay" *ngIf="showOverlay" (click)="closeOverlay($event)">
    <div class="info-panel">
        <form [formGroup]="detailsForm" (ngSubmit)="updateDoctorInfo()">
            <div class="txt-field">
                <label>Name:</label>
                <input formControlName="name" [placeholder]="currentDoctor.name" type="text">
            </div>
            <div class="txt-field">
                <label>Surname:</label>
                <input formControlName="surname" [placeholder]="currentDoctor.surname" type="text">
            </div>
            <div class="txt-field">
                <label>Email:</label>
                <input formControlName="email" [placeholder]="currentDoctor.emailAddress" type="text">
            </div>
            <div class="txt-field">
                <label>Address:</label>
                <input formControlName="address" [placeholder]="currentDoctor.homeAddress" type="text">
            </div>
            <div class="form-row">
                <div class="txt-field">
                    <input type="submit" value="Save Changes">
                </div>
                <button type="button" (click)="deleteDoctor()">Delete Doctor</button>
                <button type="button" (click)="closeOverlay('force-close')">Close</button>
            </div>
            
        </form>
    </div>
</div>
