<div class="table-container">
    <table>
        <thead>
            <th></th>
            <th>Name</th>
            <th>Vendor</th>
            <th>Category</th>
            <th>Price</th>
            <th class="add-instance"><i class="fas fa-plus"></i></th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="img-container">
                        <img src="../../../assets/img/drug-icon.png">
                    </div>
                </td>
                <td>Paracetamol</td>
                <td>PharmCorp</td>
                <td>Pills</td>
                <td>20</td>
                <td class="edit"><i class="fas fa-times-circle"></i></td>
            </tr>
        </tbody>
    </table>
</div>
