<section class="personal-info">
    <div class="account-controls">
        <div class="account-img">
            <div class="img-container">
                <img src="../../../assets/img/doctorDefaultImg.jpg" 
                (click)="toggleImageMenu()" 
                [ngClass]="{'clicked': showImageMenu}">
            </div>
            <ul *ngIf="showImageMenu" >
                <li>Edit</li>
                <li>Log Out</li>
            </ul>
        </div>
        <div class="details-toggle" (click)="toggleDetails()">
            My Information
        </div>
    </div>

    <div class="details" *ngIf="showDetails">
        <div class="column">
            <div class="container labels">
                <label class="row">Name:</label>
                <label class="row">Surname:</label>
                <label class="row">Age:</label>
            </div>
            <div class="container values">
                <div class="row">
                    <input type="text" placeholder="Placeholder">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="Placeholder">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="number" placeholder="22">
                    <i class="far fa-edit"></i>
                </div>
            </div>
        </div>
        <div class="column"> 
            <div class="container labels">
                <label class="row">Email:</label>
                <label class="row">Address:</label>
                <label class="row">Speciality:</label>
            </div>
            <div class="container values">
                <div class="row">
                    <input type="text" placeholder="Placeholder">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="Placeholder">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="Placeholder">
                    <i class="far fa-edit"></i>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="control">
                    <button class="enabled" (click)="updateDetails()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dash">
    <div class="content">
        <div class="tabs">
            <div class="tab active">Doctors</div>
            <div class="tab">Drugs</div>
            <div class="tab">Appointments</div>
        </div>
        <div class="tables">
            <doctors-table></doctors-table>
        </div>
    </div>
</section>