@import "../../../utilities/variables.scss";

.personal-info{
    padding: 1rem 1rem 0 0;

    .account-controls{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;

        .details-toggle{
            font-size: 1.2rem;
            color: $mainColor;
            font-weight: bold;
            margin-right: 2rem;
            transition: color 300ms;
            cursor: pointer;
        }
        .details-toggle:hover{
            color: $contrastColor;
        }
        .account-img{
            .img-container{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3.8rem;
                width: 3.8rem;
            }
            img{
                height: 3.5rem;
                width: 3.5rem;
                border-radius: 15px;
                cursor: pointer;
                transition: 300ms;
            }
            .clicked{
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 0;
            }
            img:hover{
                height: 3.8rem;
                width: 3.8rem;
                border-radius: 0;
            }
            ul{
                position: absolute;
                z-index: 10;
                right:2rem;
                list-style-type: none;
                padding: 0;
                margin-top: 0;
                width: 80px;
                text-align: right;
                background-color: $mainColor;
                padding: 1rem;
                li{
                    font-size: 1.2rem;
                    margin-bottom: 4px;
                    color: $plainColor;
                    transition: 300ms;
                    cursor: pointer;
                }
                li:hover{
                    margin-right: 3px;
                    color: $contrastColor;
                }
            }
        }
    }

    .details{
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: $lightGradientBackground;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 8px;
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
        // box-shadow: 0 8px 16px 0 rgba(34, 143, 233, 0.27);

        .column{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.3rem;

            .container{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 1rem;
                font-size: 1.4rem;

                .row{
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                
                .control{
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button{
                        padding: 1rem;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                        background: none;
                        border: none;
                        border-radius: 8px;
                        font-weight: 600;
                        transition: 150ms;
                    }
                    
                    .enabled{
                        color: $secondaryColor;
                        cursor: pointer;
                    }

                    .enabled:hover{
                        font-size: 1.4rem;
                        color: $contrastColor;
                    }

                    .disabled{
                        color: $disabledColor;
                    }
                }

                
            }

            .labels{
                .row{
                    font-weight: bold;
                    color: $secondaryColor;
                    display: flex;
                    align-items: center;
                }
            }

            .values{
                .row{
                    input{
                        background: none;
                        border: none; 
                        font-size: 1.4rem;
                        padding: 0;
                        width: 140px;
                        color: $contrastColor;
                    }
                    input:focus{
                        outline: none;
                        border-bottom: 2px solid $contrastColor;
                    }
                    input::placeholder{
                        color: $mainColor;
                        font-weight: 600;
                    }
                    i{
                        font-size: 1.2rem;
                    }                 
                }
            }
        }

        
    }

}

.dash{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        display: flex;
        flex-direction: column;
        width: 1200px;
        // border: 1px solid black;

        .tabs{
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: $backgroundColor;
            color: $mainColor;

            .tab{
                padding: 1rem 2rem;
                font-size: 1.1rem;
                font-weight: 700;
                letter-spacing: 0.2rem;
                transition: 200ms;
                cursor: pointer;
            }

            .tab:hover{
                background-color: $secondaryColor;
            }

            .active{
                color: $contrastColor;
            }
        }
    }
}