<app-details-overlay [currentDoctor]="displayedDoctor"></app-details-overlay>
<app-create-overlay></app-create-overlay>
<div class="main-content">
    <div class="main-grid-container">
        <div class="card-wide card-mid">
            <div class="admin-container">
                <div class="picture-container">
                    <img src="../../../assets/img/doctorDefaultImg.jpg">
                </div>
                <div class="info-container">
                    <ul>
                        <li>
                            <label>Name: </label>
                            <input type="text" [placeholder]="currentDoctor.name">
                        </li>
                        <li>
                            <label>Surname: </label>
                            <input type="text" [placeholder]="currentDoctor.surname">
                        </li>
                        <li>
                            <label>Email: </label>
                            <input type="text" [placeholder]="currentDoctor.emailAddress">
                        </li>
                        <li>
                            <label>Address: </label>
                            <input type="text" [placeholder]="currentDoctor.homeAddress">
                        </li>
                    </ul>
                </div>
                <div class="controls-container">
                    <button>Log Out</button>
                    <button>Save Changes</button>
                    <button>Show Patients</button>
                </div>
            </div>
        </div>
        <div class="card-extra-tall">
            <div class="doctors-container overflowable">
                <div class="doctor-card" *ngFor="let doctor of allDoctors">
                    <img src="../../../assets/img/doctorDefaultImg.jpg">
                    <div class="content">
                        <div class="title">{{doctor.surname + ' ' + doctor.name}}</div>
                        <button *ngIf="!isTheSameDoctor(doctor, currentDoctor) " (click)="showOverlay(doctor)">
                            More
                        </button>
                    </div>
                </div>
                <div class="doctor-card">
                    <img src="../../../assets/img/profileImg.png">
                    <div class="content">
                        <div class="title">New Doctor</div>
                        <button (click)="createDoctor()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-extra-tall">
            <div class="drugs-container overflowable">
                Drug list here
            </div>
        </div>
    </div>
</div>