<section class="personal-info">
    <div class="account-controls">
        <div class="account-img">
            <div class="img-container">
                <img src="../../../assets/img/doctorDefaultImg.jpg" 
                (click)="toggleImageMenu()" 
                [ngClass]="{'clicked': showImageMenu}">
            </div>
            <ul *ngIf="showImageMenu" >
                <li>Edit</li>
                <li (click)="logOut()">Log Out</li>
            </ul>
        </div>
        <div class="details-toggle" (click)="toggleDetails()">
            My Information
        </div>
    </div>
</section>

<section class="details-container">
    <div class="details" *ngIf="showDetails">
        <div class="column">
            <div class="container labels">
                <label class="row">Name:</label>
                <label class="row">Surname:</label>
                <label class="row">Age:</label>
            </div>
            <div class="container values">
                <div class="row">
                    <input type="text" placeholder="Grayson">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="Tom">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="number" placeholder="43">
                    <i class="far fa-edit"></i>
                </div>
            </div>
        </div>
        <div class="column"> 
            <div class="container labels">
                <label class="row">Email:</label>
                <label class="row">Address:</label>
                <label class="row">Speciality:</label>
            </div>
            <div class="container values">
                <div class="row">
                    <input type="text" placeholder="t.grayson@mail.med">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="North Carolina, Charlote">
                    <i class="far fa-edit"></i>
                </div>
                <div class="row">
                    <input type="text" placeholder="Administrator">
                    <i class="far fa-edit"></i>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="container">
                <div class="control">
                    <button class="enabled" (click)="updateDetails()">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="dash">
    <div class="content">
        <div class="tabs">
            <div class="tab" [ngClass]="{active : displayingTableTab === 0}" (click)="changeTableTab(0)">Doctors</div>
            <div class="tab" [ngClass]="{active : displayingTableTab === 1}" (click)="changeTableTab(1)">Drugs</div>
            <div class="tab" [ngClass]="{active : displayingTableTab === 2}" (click)="changeTableTab(2)">Appointments</div>
        </div>
        <div class="tables">
            <doctors-table *ngIf="displayingTableTab === 0" [isAdminPage]="true"></doctors-table>
            <drugs-table *ngIf="displayingTableTab === 1"></drugs-table>
            <appointments-table *ngIf="displayingTableTab === 2"></appointments-table>
        </div>
    </div>
</section>