@import '../../../utilities/variables.scss';

.grid-item{
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $plainColor;
  font-size: 1.2rem;
  transition: $transitionSpeed;
}

.grid-item:hover{
  background-color: $secondaryColor;
}

.content-wrapper{
  min-width: 300px;
  min-height: 200px;
}

.txt-field{
  display: flex;
  flex-direction: column;
}

.field-label{
  margin-right: 0.5rem;
  color: $accentColor;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.txt-field input[type="text"]{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  font-size: 16px;
  background-color: $backgroundColor;
  color: $accentColor;
  transition: 300ms;
  border: 3px solid $accentColor;
  font-weight: 500;
  font-family: 'Lato', sans-serif;

}

.txt-field input[type="text"]::placeholder{
  color: $plainColor;
  font-weight: 500;
  // padding-left: 0.5rem;
  transition: 300ms;
}

.txt-field input[type="text"]:focus,
.txt-field input[type="text"]:hover{
  // background-color: $accentColor;
  // color: $secondaryColor;
  border: 3px solid $contrastColor;
}

.txt-field input[type="text"]:focus::placeholder,
.txt-field input[type="text"]:hover::placeholder{
  // color: $backgroundColor;
  color: $accentColor;
}

.txt-field input[type="date"]{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  font-size: 16px;
  background-color: $backgroundColor;
  color: $accentColor;
  transition: 300ms;
  border: 3px solid $accentColor;
  font-family: 'Lato', sans-serif;

}

.txt-field input[type="date"]::-webkit-calendar-picker-indicator{
  background-color: $accentColor;
}

.txt-field input[type="date"]:focus,
.txt-field input[type="date"]:hover{
  border: 3px solid $contrastColor;
}

.txt-field select{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  font-size: 16px;
  background-color: $backgroundColor;
  color: $accentColor;
  transition: 300ms;
  text-transform: uppercase;
  border: 3px solid $accentColor;
  font-family: 'Lato', sans-serif;
}

.txt-field select:hover,
.txt-field select:focus{
  border: 3px solid $contrastColor;
}

.grid-container{
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-auto-rows: minmax(700px, auto);
}

input[type="submit"]{
  padding: 0.5rem 0.8rem;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  align-self: center;
  margin-top: 1rem;
  background-color: $accentColor;
  color: $backgroundColor;
  transition: $transitionSpeed;
  cursor: pointer;
  border: none;
}

input[type="submit"]:hover{
  background-color: $contrastColor;
  color: $plainColor;
}

.info-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.title{
  font-size: 3rem;
  color: $mainColor;
  font-weight: bold;
  letter-spacing: 0.08rem;
  padding: 0.3rem 0rem;
  border-bottom: 5px solid $mainColor;
  margin-bottom: 2rem;
}

.info-content{
  font-size: 1.2rem;
  color: $backgroundColor;
}
