<section class="personal-info">
  <div class="account-controls">
      <div class="account-img">
          <div class="img-container">
              <img src="../../../assets/img/clientImg.png" 
              (click)="toggleImageMenu()" 
              [ngClass]="{'clicked': showImageMenu}">
          </div>
          <ul *ngIf="showImageMenu" >
              <li (click)="logOut()">Log Out</li>
          </ul>
      </div>
  </div>
</section>

<section class="appointment-container">
  <div class="content-container">
    <div class="control-field">
      <p (click)="openDialog()"><i class="fas fa-calendar-plus"></i>New Appointment</p>
    </div>
    
    <div class="history">
      <div class="title">
        <div class="payment element">Payment Status</div>
        <div class="time element">Appointment Time</div>
        <div class="doctor element">Doctor</div>
        <div class="spec element">Specialization</div>
      </div>
      <div class="appointment" *ngFor="let appointment of appointmentHistory">
        <div class="status element" 
              [ngClass]="{
                'pending' : appointment.paymentMethod === 'Cash',  
                'complete' : appointment.paymentMethod === 'Card' }">
          <i *ngIf="appointment.paymentMethod === 'Cash'" class="fas fa-history">{{appointment.amount}}</i>
          <i *ngIf="appointment.paymentMethod === 'Card'" class="fas fa-check-circle"></i>

        </div>
        <div class="date element text">
          {{appointment.appointmentTime}}
        </div>
        <div class="doctor element text" (click)="showDoctor()">
          {{appointment.doctorName}}
        </div>
        <div class="spec element text">
          {{appointment.specialization}}
        </div>
      </div>
    </div>
  </div>
</section>

