@import '../../../utilities/variables.scss';
@import 'material-icons/iconfont/material-icons.scss';

.appointment-container{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;

  .content-container{
    min-width: 900px;
    max-width: 1200px;
    width: 60%;
    background: $lightGradientBackground;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

    .control-field{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      background-color: $backgroundColor;
      padding-top: 1rem;
      padding-bottom: 1rem;

      p{
        margin: 0;
        margin-right: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        color: $accentColor;
        letter-spacing: 0.06rem;
        font-size: 1.2rem;
        padding: 0;
        cursor: pointer;
        transition: 200ms;

        i{
          margin-right: 8px;
        }
      }

      p:hover{
        color: $contrastColor;
      }
    }

    .history{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title{
        width: 100%;
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: $backgroundColor;

        .element{
          display: flex;
          align-items: center;
          justify-content: center;
          color: $plainColor;
          font-size: 1.1rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }

        .payment{
          width: 20%;
        }

        .doctor{
          width: 30%;
        }

        .time{
          width: 30%;
          letter-spacing: 0.1rem;
        }

        .spec{
          width: 20%;
        }
      }

      .appointment{
        width: 100%;
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: 200ms;

        .element{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 400;
        }

        .text{
          color: $secondaryColor;
          transition: 200ms;
        }

        .status{
          width: 20%;
          font-size: 1.4rem;
        }

        .date{
          width: 30%;
          letter-spacing: 0.1rem;
        }

        .doctor{
          cursor: pointer;
          width: 30%;
        }

        .spec{
          color: $darkGrey;
          width: 20%;
        }

        .cancel:hover{
          color: $redError;
        }

        .details{
          color: $darkGrey;
          cursor: pointer;
          width: 15%;
          font-size: 1.4rem;
        }

        .details:hover{
          color: $contrastColor;
        }

        .complete{
          color: $greenComplete;
        }

        .canceled{
          color: $redError;
        }

        .pending{
          color: $darkGrey;
        }
      }

      .appointment:hover{
        box-shadow: 0px 3px 3px $shadowDarkGrey;

        .text{
          color: $mainColor;
        }

        .doctor{
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}


.personal-info{
  padding: 1rem 1rem 0 0;

  .account-controls{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      width: 100%;

      .details-toggle{
          font-size: 1.2rem;
          color: $mainColor;
          font-weight: bold;
          margin-right: 2rem;
          transition: color 300ms;
          cursor: pointer;
      }
      .details-toggle:hover{
          color: $contrastColor;
      }
      .account-img{
          .img-container{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 3.8rem;
              width: 3.8rem;
          }
          img{
              height: 3.5rem;
              width: 3.5rem;
              border-radius: 15px;
              cursor: pointer;
              transition: 300ms;
          }
          .clicked{
              height: 3.8rem;
              width: 3.8rem;
              border-radius: 0;
          }
          img:hover{
              height: 3.8rem;
              width: 3.8rem;
              border-radius: 0;
          }
          ul{
              position: absolute;
              z-index: 10;
              right:2rem;
              list-style-type: none;
              padding: 0;
              margin-top: 0;
              width: 80px;
              text-align: right;
              background-color: $mainColor;
              padding: 1rem;
              li{
                  font-size: 1.2rem;
                  margin-bottom: 4px;
                  color: $plainColor;
                  transition: 300ms;
                  cursor: pointer;
              }
              li:hover{
                  margin-right: 3px;
                  color: $contrastColor;
              }
          }
      }
  }
}