<section class="appointment-container">
  <div class="content-container">
    <div class="control-field">
      <p><i class="fas fa-calendar-plus"></i>New Appointment</p>
    </div>
    <div class="history">

      <div class="appointment" *ngFor="let appointment of appointmentHistory">
        <div class="status element" 
              [ngClass]="{
                'pending' : appointment.status === 'pending', 
                'canceled' : appointment.status === 'canceled', 
                'complete' : appointment.status === 'complete' }">
          <i *ngIf="appointment.status === 'pending'" class="fas fa-history"></i>
          <i *ngIf="appointment.status === 'canceled'" class="fas fa-ban"></i>
          <i *ngIf="appointment.status === 'complete'" class="fas fa-check-circle"></i>

        </div>
        <div class="date element text">
          {{appointment.date}}
        </div>
        <div class="doctor element text">
          {{appointment.doctor}}
        </div>
        <div class="element" [ngClass]="{'cancel' : appointment.status === 'pending', 'details' : appointment.status !== 'pending'}">
          <i *ngIf="appointment.status === 'pending'" class="fas fa-times-circle"></i>
          <i *ngIf="appointment.status !== 'pending'" class="fas fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </div>
</section>

