

@media only screen and (max-width: 600px){
  .main-content{
    margin-left: 0;
    padding: 1rem;
  }
}

@media only screen and (min-width: 600px){
  .main-content{
    margin-left: 5rem;
    padding: 1rem;
  }
}
