@import '../../../utilities/variables.scss';

.content-wrapper{
    display: flex;
    justify-content: center;
}

.info-table{
    border-collapse: collapse;
    max-width: 60vw;
}

.row-header{
    background-color: $backgroundColor;
    color: $plainColor;
}

.row-header th{
    padding: 0.8rem;
    font-size: 1.2rem;
    border: 1px solid $accentColor;
}

.row{
    background-color: $secondaryColor;
    color: $plainColor;
}

.row td{
    padding: 0.8rem;
    border: 1px solid $accentColor;
    transition: 300ms ease;
}

.table-content{
    transition: 300ms ease;
}

.row:hover .table-content{
    color: $accentColor;
}


.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 2rem;
  }

.title{
    font-size: 3rem;
    color: $mainColor;
    font-weight: bold;
    letter-spacing: 0.08rem;
    padding: 0.3rem 0rem;
    border-bottom: 5px solid $mainColor;
    margin-bottom: 2rem;
}

.info-content{
    font-size: 1.2rem;
    color: $backgroundColor;
}

tr>.activation-cell{
    padding: 0.1rem;
}
