<div class="dialog-container">
    <div class="container-header">
      <h1>Create appointment</h1>
      <button class="close" mat-icon-button (click)="onDialogClose()">
      <mat-icon (click)="onDialogClose()">close</mat-icon>
    </button>
    </div>
    <form [formGroup]="newAppointmentForm">
        <div class="user-data" *ngIf="isLogged">
          <div class="data-field"><span class="field-label">Name:</span> {{patient.name}}</div>
          <div class="data-field"><span class="field-label">Birthdate:</span> {{birthdate}}</div>
        </div>
        <div class="newuser-data" *ngIf="!isLogged">
          <div class="txt-field">
            <mat-label class="field-label">Location:</mat-label>
            <input formControlName="location" type="text" placeholder="City of the clinic">
          </div>
          <div class="txt-field">
            <mat-label class="field-label">Name:</mat-label>
            <input formControlName="name" type="text" placeholder="Your name...">
          </div>
          <div class="txt-field">
            <label class="field-label">Birthdate:</label>
            <input formControlName="birthdate" type="date">
          </div>
        </div>
        <div class="txt-field">
          <label class="field-label">Service:</label>
          <select formControlName="service">
            <option *ngFor="let service of serviceList" [ngValue]="service">{{service.name}}</option>
          </select>
        </div>
        <div class="txt-field">
          <label class="field-label">Doctor:</label>
          <select formControlName="doctor">
            <option *ngFor="let doctor of doctors">{{doctor.name}} {{doctor.surname}}</option>
          </select>
        </div>

        <div class="txt-field">
          <label class="field-label">Payment type:</label>
          <select formControlName="payType">
            <option *ngFor="let payType of payTypes">{{payType}}</option>
          </select>
        </div>

        <div class="txt-field">
          <label class="field-label">Date:</label>
          <input formControlName="date" type="date">
        </div>
        <div mat-dialog-actions>
          <button
            mat-flat-button
            class="fas fa-check-circle sub"
            (click)="createAppointment()"
            color="primary"
            cdkFocusInitial
          >
          Make Appoitment
          </button>
        </div>
      </form>
    
  </div>
  