$mainColor: #249CFF;
$secondaryColor: #0A2D40;
$accentColor: #93F5FF;
$secondAccentColor: #1745FF;
$reserveColor: #15AEE8;
$backgroundColor: #23232e;
$transitionSpeed: 600ms;
$contrastColor: #d92662;
$plainColor: #edf6f7;
